@{
    ViewData["Title"] = "Информация";
}
<h2>@ViewData["Title"]</h2>

@section menu{
<ul class="list-inline">
    <li>Пункт 1</li>
    <li>Пункт 2</li>
    <li>Пункт 3</li>
</ul>
}

@section footer{
    <p>&copy; Evgeny Popkov</p>
}
